[submodule "BEGIN | bTZNXeeZeX30KZkjcCrr"]
	path = BEGIN | bTZNXeeZeX30KZkjcCrr
	url = https://github.com/subinp10/turbo-couscous.git
[submodule "BEGIN | nNKzxSlWhoQ42RQwQ1va"]
	path = BEGIN | nNKzxSlWhoQ42RQwQ1va
	url = https://github.com/subinp10/turbo-couscous.git
[submodule "AirBase | cdPLh6TJPTg28pgHE0Y8"]
	path = AirBase | cdPLh6TJPTg28pgHE0Y8
	url = https://github.com/bijoysijo/airbase
[submodule "SK | bE79FzxfYBjIeHziUSzr"]
	path = SK | bE79FzxfYBjIeHziUSzr
	url = https://github.com/Sreejith2/Airtable-.git
[submodule "hexspeak | w3bwujQWSg3rIaKAz93j"]
	path = hexspeak | w3bwujQWSg3rIaKAz93j
	url = https://github.com/nasihps/hexspeak_contest
[submodule "techbuddies | OQehrdDHL3mPGKQm0O4D"]
	path = techbuddies | OQehrdDHL3mPGKQm0O4D
	url = https://github.com/sadiq414/airtable-contest
